<%= form_with(model: arriendo, local: true, class: 'mb-4') do |form| %>
  <% if arriendo.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(arriendo.errors.count, "error") %> impidieron guardar este arriendo:</h2>

      <ul>
        <% arriendo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :pelicula_id, class: 'form-label' %>
    <%= form.collection_select :pelicula_id, Pelicula.all, :id, :titulo, { include_blank: "Seleccionar Película" }, { class: 'form-control' } %>
  </div>

  <div class="mb-3">
    <%= form.label :cliente_id, class: 'form-label' %>
    <%= form.collection_select :cliente_id, Cliente.all, :id, :nombre, { include_blank: "Seleccionar Cliente" }, { class: 'form-control' } %>
  </div>

  <div>
    <%= form.submit 'Guardar', class: 'btn btn-dark' %>
  </div>
<% end %>
